{% extends 'barbearia/base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <img src="{% static 'img/banner/barber_text.png' %}" alt="">
                            <h3>Best Barber in <br>
                                your Town</h3>
                            <p>Professional Care</p>
                            <br><br>
                            {% if msg %}
                                <div class="alert alert-success" role="alert">
                                    <h5>{{ msg }}</h5>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about_thumb">
                        <img src="{% static 'img/about/about_lft.png' %}" alt="">
                        <div class="opening_hour text-center">
                                <i class="flaticon-clock"></i>
                                <h3>Hora de Abertura</h3>
                                <p>Terça-Domingo (8.00-11.00) <br>
                                        Sat (10.00-4.00)</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>Sobre Nós</span>
                            <h3>Experienced and <br>
                                    Traditional Stylish <br>
                                    Barber Shop</h3>
                        </div>
                        <p>Inspires employees and organizations to support causes they care  <br>
                                about. We do this to bring more resources to the nonprofits that are  <br>
                                changing our world.</p>
                        <a href="{% url 'sobre' %}" class="boxed-btn3">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title2 text-center mb-90">
                    <i class="flaticon-scissors"></i>
                    <h3>Nossos Serviços</h3>
                </div>
            </div>
        </div>
        <div class="white_bg_pos">
                <div class="row">
                        {% for servico in servicos %}
                        <div class="col-xl-6">         
                            <div class="single_service d-flex justify-content-between align-items-center">
                                <div class="service_inner d-flex align-items-center">
                                    <div class="thumb">
                                            <img src="{% static 'img/service/1.png' %}" alt="">
                                    </div>
                                    <span>{{servico.nome}}</span>
                                </div>
                                <p>………………………..R$ {{ servico.preco }}</p>
                            </div>        
                        </div>
                        {% endfor %}
                        <div class="col-xl-12">
                                <div class="book_btn text-center">
                                    <a class="boxed-btn3" href="{% if user.is_authenticated %}{% url 'meus_agendamentos' pk=user.pk %} {% else %}{% url 'form_login' %}{% endif %}">Faça Seu Agendamento</a>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


    <!-- gallery_area_start -->
    <div class="gallery_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title2 text-center mb-90">
                        <i class="flaticon-scissors"></i>
                        <h3>Nossa Galeria</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="gallery_active owl-carousel">
                        {% for foto in fotos %}
                        <div class="single_gallery">
                            <div class="thumb">
                                <img src="{{ foto.imagem.url }}" alt="">
                                <div class="image_hover">
                                    <a class="popup-image" href="{{ foto.imagem.url }}">
                                        <i class="">{{ foto.titulo }}</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery_area_end -->

    <!-- video_area_start -->
    <div class="video_area">
        <div class="container-fluid p-0">
            <div class="row align-items-center no-gutters">
                <div class="col-xl-6 col-lg-6">
                    <div class="video_info">
                        <div class="about_info">
                            <div class="section_title mb-20px">
                                <span>Como Trabalhamos</span>
                                <h3>Watch the Video <br>
                                    How we Work?</h3>
                            </div>
                            <p>Inspires employees and organizations to support causes they care <br>
                                about. We do this to bring more resources to the nonprofits that are <br>
                                changing our world.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="video_thumb">
                        <div class="video_thumb_inner">
                            <img src="{% static 'img/gallery/video.png' %}" alt="">
                            <a href="https://www.youtube.com/watch?v=I4NcwG-zusE" class="popup-video">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- video_area_end -->

    <!-- cutter_muster_start -->
    <div class="cutter_muster">
        <div class="container">
                <div class="row">
                        <div class="col-xl-12">
                            <div class="section_title2 text-center mb-90">
                                <i class="flaticon-scissors"></i>
                                <h3>Nosso Barbeiro</h3>
                            </div>
                        </div>
                    </div>
            <div align="center">
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="single_master">
                        <div class="thumb">
                            <img src="{% static 'img/team/1.png' %}" alt="">
                            <div class="social_link">
                                <a href="#"><i class="fa fa-envelope"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="master_name text-center">
                            <h3>Macau Wilium</h3>
                            <p>Massage Master</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- cutter_muster_end -->

    <!-- find_us_area start -->
    <div class="find_us_area find_bg_1 ">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 offset-xl-7 col-lg-6 offset-lg-6">
                    <div class="find_info">
                        <h3 class="find_info_title">Como nos Encontrar</h3>
                        <div class="single_find d-flex">
                            <div class="icon">
                                <i class="flaticon-placeholder"></i>
                            </div>
                            <div class="find_text">
                                    <h3>Localização</h3>
                                    <p>200, A-block, Green road, USA</p>
                            </div>
                        </div>
                        <div class="single_find d-flex">
                            <div class="icon">
                                <i class="flaticon-phone-call"></i>
                            </div>
                            <div class="find_text">
                                    <h3>Telefone</h3>
                                    <p>+10 378 478 2789</p>
                            </div>
                        </div>
                        <div class="single_find d-flex">
                            <div class="icon">
                                <i class="flaticon-paper-plane"></i>
                            </div>
                            <div class="find_text">
                                    <h3>Email</h3>
                                    <p>contact@barbershop.com</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- find_us_area_end -->
    <!--Botão Flutuante -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://wa.me/5514997315105?text=Adorei%20seu%20artigo" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
      z-index:1000;" target="_blank">
    <i style="margin-top:16px" class="fa fa-whatsapp"></i>
    </a>
{% endblock %}